
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="row">
      <div class="col-md-12">
          <input type="text" placeholder="name" id="name" name="name" class="form-control" />
          <input type="text" placeholder="surname" id="surname" name="surname" class="form-control" />
          <button class="btn btn-success" type="button">Send</button>
      </div>
</div>

@section Section1{
    
    <div class="alert alert-info">
        <b>
            Fusce vel sapien elit in malesuada semper mi.
        </b>
    </div>

    }
