
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Emmet(Zen-Coding)</h2>
    </div>

    @*div>ul>li>p>{Write Something}*@
    <div>
        <ul>
            <li>
                <p>Write Something</p>
            </li>
        </ul>
    </div>

    @*div.style1*@
    <div class="style1"></div>

    @*div#mydiv*@
    <div id="mydiv"></div>

</body>
</html>
