@using _08_HelperMethodsWithBootstrap.Library
@using _08_HelperMethodsWithBootstrap.Models
@model List<Message>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <br /><br />

        @Html.Alert("alert1", "danger", "Oguzhan Turk Merhaba Kocaeli")

        <hr />

        @foreach (Message item in Model)
        {
            @Html.AlertFor(x => item, new { title = item.Text, level = item.Level })
        }
    </div>
</body>
</html>
