<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <!-- Header -->
        <div class="row">
            <div class="col-md-12">
                <h2>Sit amet, consectetur.</h2>
            </div>
        </div>

        @RenderBody()

        @RenderSection("Section1",false)
    </div>
</body>
</html>
