
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>homepage</title>
</head>
<body>

    <div>
        @{ 
            SelectListItem[] liste = new SelectListItem[3]
            {
                new SelectListItem() {Text="Ali",Value ="A"},
                new SelectListItem() {Text="Murat",Value ="M"},
                new SelectListItem() {Text="Burak",Value ="B"}
            };
        }

        @using (Html.BeginForm())
        {
            @Html.TextBox("text1") <br />
            @Html.DropDownList("list1", liste) <br /> 
            @Html.CheckBox("check1") @("Onaylıyorum")
            <hr />
            <input type="submit" value="Send" />
        }

    </div>

</body>
</html>
