
@{
}

<h2>Contact</h2>

<ul>
    <li>Sit amet, consectetur.</li>
    <li>Adipiscing elit fusce.</li>
    <li>Vel sapien elit.</li>
    <li>In malesuada semper.</li>
    <li>Mi, id sollicitudin.</li>
    <li>Urna fermentum ut.</li>
    <li>Fusce varius nisl.</li>
    <li>Ac ipsum gravida.</li>
    <li>Vel pretium tellus.</li>
    <li>Tincidunt integer eu.</li>
    <li>Augue augue nunc.</li>
    <li>Elit dolor, luctus.</li>
    <li>Placerat scelerisque euismod.</li>
    <li>Iaculis eu lacus.</li>
    <li>Nunc mi elit.</li>
</ul>