
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

@{
    string[] names = new string[3] { "Ali", "Murat", "Ahmet" };
    int index = 0;

    <ul>
        @foreach (string name in names)
        {
            <li>
                @if (index % 2 == 0)
                {
                    <b>
                        @name
                    </b>
                }
                else
                {
                    @name
                }
            </li>
            index++;
        }
    </ul>
}

