
@{
    ViewBag.Title = "blog2";
    Layout = "~/Views/Shared/_LayoutPage4.cshtml";
}

<h2>blog2</h2>
<p>
    Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
</p>
<p>
    Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
</p>

<ul>
    <li>Consectetur adipiscing elit fusce vel.</li>
    <li>Sapien elit in malesuada semper.</li>
    <li>Mi, id sollicitudin urna fermentum.</li>
    <li>Ut fusce varius nisl ac.</li>
    <li>Ipsum gravida vel pretium tellus.</li>
    <li>Tincidunt integer eu augue augue.</li>
</ul>

@section links{
    <li>
        @Html.ActionLink("blog1", "blog", "Home3")
    </li>
}
@*@section footer{
    <b>
        Bu sayfayı kopyalayabilirsiniz.
    </b>}*@

