@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="block2" style="width:660px;">
    @RenderBody()
</div>

<div class="block2" style="float:right;">
    <h4>İletişim Numaralarımız</h4>
    <ul>
        <li>216 33 44 55</li>
        <li>216 33 44 75</li>
        <li>216 33 44 95</li>
    </ul>
</div>


