
@{
    ViewBag.Title = "About2";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<h2>Contact1</h2>

<p>
    Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
</p>